<h1>MovieApp!</h1>

<nav>
  <ul class="nav-container">
    <li><a href="/">Home</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/genre">Genres</a></li>
    <li><a href="/movies/new">Add Movie</a></li>
</ul>
</nav>

</header>
