<% include ./partials/boilerplate %>

<% include ./partials/nav %>

<!-- <div class="bg-image"></div> -->

<h2>Please click on a link below. </h2>

<div>
<a href="http://localhost:3000/movies">Movies</a>
<a href="http://localhost:3000/genre">Genres</a>
</div>

<% include ./partials/end %>
