<% include ./partials/boilerplate %>

<% include ./partials/nav %>

<!-- <div class="bg-image"></div> -->

<h2>Please click on a link below. </h2>

<div>
<h2><a href="/movies">Movies</a> | <a href="/genre">Genres</a></h2>

</div>

<% include ./partials/end %>
