body {
  font-family: arial;
  background-color: #9494a5;
}

.header-container {
  display: flex
  justify-content: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: pink;
}
.nav-container {
  display: flex;
  list-style-type: none;
}


@media screen and (max-width : 600px) {
  .header-container {
    flex-direction: column;
  }
  .nav-container {
    align-self: center;
  }

}

.movie-container {
  max-width: 1000px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.movie-poster {
  width: 200px;
  margin: 0 auto 15px;
  padding: 5px;
  border: 2px solid grey;
  flex: 1;
}

.movie-title {
  text-align: center;
}

