<% include ../partials/boilerplate %>

<h1>MovieApp - show all movies</h1>

<p><% movies.forEach((movie) => { %>
  <a href="movies/movie/<%= movie.id%>">
    <h3><%= movie.title %></h3></a>
  <% }) %>
</p>

<% include ../partials/end %>
