<% include ../partials/boilerplate %>

<h1>All info for One Movie</h1>

<h2><%= movie.title %></h2>
<h3><%= movie.director%></h3>
<h3><%= movie.release_year%></h3>

<!-- need to deal with showing all genres here -->


<% include ../partials/end %>
